﻿@page
@model Otus.Teaching.PromoCodeFactory.Razor.Pages.Promocodes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PromoCode</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromoCode.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PromoCode.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromoCode.ServiceInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PromoCode.ServiceInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromoCode.BeginDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PromoCode.BeginDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromoCode.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PromoCode.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromoCode.PartnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PromoCode.PartnerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PromoCode.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
