﻿@page
@model Otus.Teaching.PromoCodeFactory.Razor.Pages.Promocodes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PromoCode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PromoCode.Code" class="control-label"></label>
                <input asp-for="PromoCode.Code" class="form-control" />
                <span asp-validation-for="PromoCode.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromoCode.ServiceInfo" class="control-label"></label>
                <input asp-for="PromoCode.ServiceInfo" class="form-control" />
                <span asp-validation-for="PromoCode.ServiceInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromoCode.BeginDate" class="control-label"></label>
                <input asp-for="PromoCode.BeginDate" class="form-control" />
                <span asp-validation-for="PromoCode.BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromoCode.EndDate" class="control-label"></label>
                <input asp-for="PromoCode.EndDate" class="form-control" />
                <span asp-validation-for="PromoCode.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromoCode.PartnerName" class="control-label"></label>
                <input asp-for="PromoCode.PartnerName" class="form-control" />
                <span asp-validation-for="PromoCode.PartnerName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PromoCode.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
