﻿@page
@model Otus.Teaching.PromoCodeFactory.Razor.Pages.Promocodes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PromoCode[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromoCode[0].ServiceInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromoCode[0].BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromoCode[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromoCode[0].PartnerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PromoCode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
